@import "../../assets/style/Vars.scss";
form {
    background: white;
    max-width: 30.625rem;
    margin: 0px auto;
    padding: 2.25rem;
}


input {
    font-weight: 900;
    margin: 15px 0;
    padding: 15px 15px;
    text-decoration: none;
    border-bottom: 2px solid gray;
    font-family: $text-font;
    font-size: 1rem;
    width: 100%;
    outline: none;
    padding: 0.9375rem 0;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid fade($yellow-color, 50%);
    vertical-align: top;
}

input:focus {
    border-bottom: 2px solid $yellow-color;
}

button {
    margin: 10px auto;
    width: 150px;
    background-color: $yellow-color;
    border: none;
    color: $purple-color;
    font-weight: 900;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}

button:hover {
    transition: ease-in-out;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05),
        0 7px 7px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}