@import "../../assets/style/Vars.scss";

.countContainer {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(60deg,
            #69156A 20%,
            #FFB703 85%);
    color: white;
    border-radius: 20px;
    padding: 7px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0;
        font-family: $title-font;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 3px;
        -webkit-transition: letter-spacing 1s ease;
        transition: letter-spacing 1s ease;
    }

    h1:hover {
        letter-spacing: 5px;
        color: black;
    }

    .count {
        display: flex;
        justify-content: center;
        align-items: center;

        .itemCount {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $title2-family;

            .countTime {
                font-size: 2rem;
                margin: 0 4px;
                -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.5)));
            }

            .countText {
                font-family: $title2-family;
                font-size: 0.5rem;
                padding: 0;
                margin: 0;
            }

        }
    }
}