@import "../../assets/style/Main.scss";

.formulario--login {
    // margin-left: 50px;s
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.forgot {
    margin: 17px 0;
    text-decoration: none;
    color: $purple-color;
    outline: none;
}