@import "../../assets/style/Vars.scss";

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container--center {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 3vh 4vw;
}

.container--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

.carrousel--creators {
    width: 100%;
    margin-bottom: 70px;
}

.carrousel--sponsors {
    width: 100%;
    height: 100px;
}

.container--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.count-down {
    height: 160px;
}

.communities {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}