@import '../../assets/style/Media.scss';

header {
    position: relative;
    display: flex;
    justify-content: center;
    background: transparent;
    margin: 8px 0 4px 8px;
    z-index: 10;
}

header .logo {
    // transform: translateX(-150%);
    transition: ease-in-out;
    background-repeat: no-repeat;
    width: 150px;
}