@import "../../assets/style/Vars.scss";
@import "../../assets/style/Media.scss";

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav {
    font-family: $title-font;
    background: white;
    box-shadow: $light-shadow-color;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
}

.nav-toggle {
    font-size: 1.5rem;
    color: $purple-color;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}

.nav-toggle:hover {
    color: $yellow-color;
    transform: rotate(90deg);
}

.logo {
    height: 40px;
}

.links a {
    color: $purple-color;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
}

.links a:hover {
    background: $yellow-color;
    color: $yellow-color;
    padding-left: 1.5rem;
}

.social-icons {
    display: none;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}

.show-container {
    height: 10rem;
}

.perfil {
    display: flex;
    flex-direction: row;
    box-shadow: 10px $purple-color;
}

.avatar {
    margin: auto 10px;
}

.avatar img {
    border-radius: 50%;
}

@media screen and (min-width: 800px) {
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .nav-header {
        padding: 0;
    }

    .nav-toggle {
        display: none;
        margin: 10px;
    }

    .links-container {
        height: auto !important;
    }

    .links {
        display: flex;
    }

    .links a {
        padding: 0;
        margin: 0 0.5rem;
    }

    .links a:hover {
        padding: 0;
        background: transparent;
    }

}