@import "../../assets/style/Vars.scss";
@import "../../assets/style/Mixins.scss";

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;

    @include respond(phone) {
        flex-direction: column;
        justify-content: center;
        padding: 10px 0;
    }

    p {
        font-family: $text-font;
        text-align: center;
        font-size: 0.8rem;

        @include respond(phone) {
            font-size: 0.7rem;
        }
    }

    .footer--left {
        margin-left: 17px;
        height: auto;

        @include respond(phone) {
            margin-left: 0;
        }
    }

    .footer--right {
        margin-right: 17px;

        .social-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;

            @include respond(phone) {
                padding: 0;
            }

            li p {
                @include respond(phone) {
                    display: none;
                }
            }

            a {
                font-size: 1.3rem;
                margin: 0 0.5rem;
                color: $purple-color;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }

            a:hover {
                color: $yellow-color;
            }
        }
    }
}