@import "../../assets/style/Vars.scss";

.events--title {
    background-image: linear-gradient(60deg,
            #69156A 20%,
            #FFB703 85%);
    border-radius: 17px;
    padding-left: 1rem;
    color: $white-color;
    font-family: $title-font;
    font-size: 1rem;

    h3 {
        font-weight: 500;
    }
}

.event {
    box-shadow: 11px 13px 20px -14px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 11px 13px 20px -14px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 11px 13px 20px -14px rgba(0, 0, 0, 0.32);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 10px;
    background-color: $white-color;
    border-radius: 17px;
    height: 100%;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    img {
        width: 100%;
        border-radius: 10px;
    }

    h4 {
        position: absolute;
        top: 50px;
        text-align: center;
        margin: 0;
        width: 100%;
        padding: 10px 0;
        background-color: $white-color-light;
        font-family: $title-font;
        color: $purple-color;
        font-size: 1rem;
        text-transform: capitalize;
    }

    p {
        font-family: $text-font;
        margin: 0;
        position: absolute;
        bottom: 2rem;

        a {
            color: $white-color;
            position: relative;
            font-weight: 700;
            padding: 0.7rem;
            border-radius: 1.7rem;
            height: 2.2rem;
            font-size: 0.6rem;
            background-color: rgba(255, 183, 3, 0.8);
            text-align: center;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            width: 100%;
        }

        a:hover {
            background-color: $yellow-color-light;
        }
    }

}