:root {
  --primary: #7c036c;
  --secondary: #d3cf03;
  --background: #fff;
  --background-gradient: linear-gradient(
    90deg,
    rgba(183, 199, 23, 1) 13%,
    rgba(149, 4, 104, 1) 32%,
    rgba(145, 7, 107, 1) 65%,
    rgba(182, 153, 21, 1) 92%
  );
  --font-title: "Poppins", "san-serif";
  --font-content: "Roboto", "san-serif";
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
