:root {
  --primary: #69156A;
  --secondary: #FFB703;
  --background: #fff;
  --background-gradient: linear-gradient(60deg,
      #69156A 20%,
      #FFB703 35%,
      #FFB703 53%,
      #69156A 72%);
  --font-title: 'Poppins',
    sans-serif;
  --font-content: 'Montserrat Alternates',
    sans-serif;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;

}