section.privacy {
   font-family: var( --font-title );
   margin: 30px auto;
   width: 85%;
}

.privacy .privacy-item strong {
   font-family: var( --font-content );
   font-size: 20px;
}

.privacy .privacy-item {
   text-align: center;
}