

.contenedorBanner{
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 1px solid #000;
    background: url(../../assets/img/imgBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}