@import "../../assets/style/Vars.scss";

.contenedorBanner{
    position: relative;
    height: 700px;
    background: url(../../assets/img/imgBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 80px;
    margin-right: 80px;

    
    
    .contenedorLogo{
        position: absolute;
        top: 32%;
        left: 42%;
        z-index: 1;
        width: 250px;
        height: 250px;
        background: url("../../assets/img/Logo-Comfeco-Simple.png");
        background-repeat: no-repeat;
    }

    .contenedorInfo{
        position: absolute;
        top: 60%;
        left: 32%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .bannerTittle{
            font-family: $title2-family;
            color: $white-color;
            letter-spacing: 3px;
            font-size: 2.4rem;
        }
        
        .bannerDesc{
            font-family: $text2-family;
            color: $white-color;
            font-size: 1.3rem;
            letter-spacing: 3.2px;
            margin: 3px;
        }
    }
}

.contenedorBanner:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

@media screen and (max-width: 560px){
    .contenedorBanner{
        margin: 0;
        height: 100vh;
        width: 100%;
    }

}