@import "../../../assets/style/Vars.scss";
@import "../../../assets/style/Mixins.scss";

.myprofile--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .myprofile--top {
        background: $gradient--v1;
        width: 100%;
        height: 200px;

        .top--profile {
            background-image: url("../../../assets/img/stars.svg");
            height: 100%;

            @include respond(phone) {
                margin-left: 0;
            }
        }
    }

    .myprofile--bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include respond(phone) {
            flex-direction: column;
            align-items: center;
        }

        .bottom--left {
            width: 70%;

            @include respond(phone) {
                width: 100%;
            }

            .left--activity {
                width: 80%;
                margin: 2rem auto 0;

            }
        }

        .bottom--right {
            width: 30%;

            @include respond(phone) {
                width: 100%;
            }
            .right--badges {
                margin: 0 2.1rem;

            }

            .right--events {
                margin: 0 2.1rem;
            }
        }

    }
}